#page-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* 确保包含内边距和边框 */
}

#top-image-container,
#bottom-image-container {
    text-align: center;
    width: 100%;
}

#top-image,
#bottom-image {
    width: 100%;
    height: auto;
}

#content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* 包括内边距在内 */
    margin: 0 auto;
}

#left-image-container,
#right-image-container {
    flex: 0 0 25%; /* 固定20%宽度 */
    box-sizing: border-box; /* 确保宽度计算包括内边距和边框 */
}

#left-image,
#right-image {
    width: 100%;
    height: auto;
}

#main-content {
    flex: 1; /* 占用剩余空间 */
    max-width: 50%; /* 确保内容不会过宽 */
    padding: 0 10px;
    box-sizing: border-box; /* 包括内边距在内 */
    overflow: hidden; /* 防止内容溢出 */
}

#new-article-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#new-article-content {
    font-size: 16px;
}